<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Arts</title>
</head>
<body>

  <h1>Add New Art</h1>

  <form action="/arts/add" method="post">

   Art Name <br> <input type="text" name="name"> <br>
   Artist Name <br> <input type="text" name="artist"> <br>
   Created Date <br> <input type="date" name="date"> <br>
   Art Photo URL <br> <input type="text" name="photo"> <br>
   Art Origin <br> <input type="text" name="placeOfOrigin"> <br>
   Description <br> <textarea name="description" id="" cols="30" rows="10"></textarea> <br>

   <input type="submit" name="" id="" value="Add Art">

  </form>
  
</body>
</html>